[Unit]
Description=fastblock cluster osd daemon
PartOf=fastblock-osd.target
After=network-online.target time-sync.target
Before=fastblock-osd.target
Wants=network-online.target time-sync.target fastblock-osd.target

[Service]
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/bin/bash -c 'CPU_COUNT=$(nproc); CORE=$((%i % CPU_COUNT)); export CORE; /usr/local/bin/fastblock-osd -C /etc/fastblock/fastblock.json --id %i --cpumask $CORE'
StandardOutput=append:/var/log/fastblock/osd%i.log
StandardError=append:/var/log/fastblock/osd%i.log
LimitNOFILE=1048576
LimitNPROC=1048576
Restart=on-failure
RestartSec=30
StartLimitInterval=0
TasksMax=infinity

[Install]
WantedBy=multi-user.target
