[group:{{ group.name }}]
programs={{ group.programs }}

{% for app in apps %}
[program:{{ app.name }}]
command={{ app.command }}
autostart={{ app.autostart | lower }}
autorestart={{ app.autorestart | lower }}
startsecs=5
startretries=3
redirect_stderr=true
stdout_logfile_maxbytes = 1GB
stdout_logfile=/var/log/{{ app.log_home }}/{{ app.name }}.log
stderr_logfile=/var/log/{{ app.log_home }}/{{ app.name }}_err.log
pre-start = /bin/bash -c ">/var/log/{{ app.log_home }}/{{ app.name }}.log;>/var/log/{{ app.log_home }}/{{ app.name }}_err.log"
{% endfor %}