[defaults]
ansible_managed = Please do not change this file directly since it is managed by Ansible and will be overwritten
roles_path = ./roles
log_path = $HOME/ansible/ansible.log

forks = 4
gathering = smart
fact_caching = jsonfile
fact_caching_connection = $HOME/ansible/facts
fact_caching_timeout = 7200
nocows = 1
stdout_callback = yaml
force_valid_group_names = ignore
inject_facts_as_vars = False

retry_files_enabled = False

timeout = 60

[ssh_connection]
control_path = %(directory)s/%%h-%%r-%%p
ssh_args = -o ControlMaster=auto -o ControlPersist=600s
pipelining = True

retries = 10
